<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Footer</title>

  <!-- CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/modern-business.css}" rel="stylesheet">
</head>

<body>
  <footer class="py-4 bg-dark" th:fragment="footer">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; LOVE &#x1F43E; PETS 2020</p>
    </div>
  </footer>
</body>

</html>
