<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LOVE &#x1F43E; PETS</title>

  <!-- CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/modern-business.css}" rel="stylesheet">
  <link th:href="@{/css/fontello.css}" rel="stylesheet">
  <link th:href="@{/css/fontello-ie7.css}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav th:replace="fragments/navigation :: navigation"></nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Pet Types Management</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Pet Types Management</li>
    </ol>

    <button type="button" class="btn btn-info mb-3" data-toggle="modal" data-target="#addPetTypeModal" title="Add new pet type"><i class="icon-plus-circled"></i></button>

    <div th:if="${successMessage}" class="alert alert-success col-xs-offset-1 col-xs-10">
      <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger col-xs-offset-1 col-xs-10">
      <span th:text="${errorMessage}"></span>
    </div>

    <!-- Pet Types Table -->
    <div class="table-responsive-xl text-nowrap">
      <table id="petTypesTable" class="table table-bordered table-striped ">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Modified Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="petTypeDTO : ${petTypes}" style="line-height: 1px;">
            <td class="align-middle" th:text="${petTypeDTO.id}"></td>
            <td class="align-middle" th:text="${petTypeDTO.name}"></td>
            <td class="align-middle" th:text="${#temporals.format(petTypeDTO.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <td class="align-middle">
              <div class="btn-group">
                <button id="petTypeDetailsButton" th:href="@{${'/pet-types/' + petTypeDTO.id}}" class="btn btn-primary btn-sm" title="Details"><i class="icon-info"></i></button>
                <button id="petTypeEditButton" th:href="@{${'/pet-types/' + petTypeDTO.id}}" class="btn btn-success btn-sm" title="Update"><i class="icon-cog"></i></button>
                <button id="petTypeDeleteButton" th:href="@{${'/pet-types/' + petTypeDTO.id + '/delete'}}" class="btn btn-danger btn-sm" title="Delete"><i class="icon-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.Pet Types Table -->

  </div>

  <!-- Footer -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--Add Pet Type Modal -->
  <div class="modal fade" id="addPetTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form th:action="@{/pet-types/new}" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Pet Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="addPetTypeName" class="col-form-label"> Name:</label>
              <input type="text" class="form-control" id="addPetTypeName" name="name" required minlength="3">
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.Add Pet Type Modal-->

  <!-- Details Pet Type Modal -->
  <div class="modal fade" id="detailsPetTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pet Type Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="petTypeId" class="col-form-label"> Id:</label>
              <input type="text" class="form-control" id="petTypeId" name="id" readonly>
            </div>

            <div class="form-group">
              <label for="petTypeName" class="col-form-label"> Name:</label>
              <input type="text" class="form-control" id="petTypeName" name="name" readonly>
            </div>

            <div class="form-group">
              <label for="petTypeCreatedBy" class="col-form-label"> Created by:</label>
              <input type="text" class="form-control" id="petTypeCreatedBy" name="createdBy" readonly>
            </div>

            <div class="form-group">
              <label for="petTypeCreatedDate" class="col-form-label"> Created date:</label>
              <input type="text" class="form-control" id="petTypeCreatedDate" name="createdDate" readonly>
            </div>

            <div class="form-group">
              <label for="petTypeLastModifiedBy" class="col-form-label"> Last modified by:</label>
              <input type="text" class="form-control" id="petTypeLastModifiedBy" name="lastModifiedBy" readonly>
            </div>

            <div class="form-group">
              <label for="petTypeLastModifiedDate" class="col-form-label"> Last modified date:</label>
              <input type="text" class="form-control" id="petTypeLastModifiedDate" name="lastModifiedDate" readonly>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
  <!-- /.Details Pet Type Modal-->

  <!-- Edit Pet Type Modal -->
  <div class="modal fade" id="editPetTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form th:action="@{/pet-types/edit}" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Pet Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="editPetTypeId" class="col-form-label"> Id:</label>
              <input type="text" class="form-control" id="editPetTypeId" name="id" readonly>
            </div>

            <div class="form-group">
              <label for="editPetTypeName" class="col-form-label"> Name:</label>
              <input type="text" class="form-control" id="editPetTypeName" name="name" required minlength="3">
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.Edit Pet Type Modal-->

  <!-- Delete Pet Type Modal -->
  <div class="modal fade" id="deletePetTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p>Are you sure you want to delete this pet type?</p>
          </div>

          <div class="modal-footer">
            <a href="" class="btn btn-primary" id="confirmDeleteButton">Yes, delete</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
  <!-- /.Delete Pet Type Modal-->

  <!-- Scripts -->
  <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/functions.js}"></script>
  <script th:src="@{/js/petTypes.js}"></script>
</body>

</html>
